<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div> Months :
    <select>
       <option *ngFor = "let i of months">{{i}}</option>
    </select>
    <select (change) = "changemonths($event)">
      <option *ngFor = "let i of months">{{i}}</option>
   </select>
 </div>

 <div>
  <span *ngIf = "isavailable; else condition1">
    Condition is valid
  </span>
  <ng-template #condition1>Condition is invalid</ng-template>
 </div>

 <button (click)="myClickFunction($event)">
  Click Me
</button>
<div>
Today is: {{todaydate}}

<div>
  <form [formGroup] = "formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
     <input type = "text" class = "fortextbox" name = "emailid" placeholder = "emailid" 
        formControlName="emailid">
     <br/>
     
     <input type = "password" class = "fortextbox" name="passwd" 
        placeholder = "passwd" formControlName = "passwd">
     <br/>
     
     <input type = "submit" class = "forsubmit" value = "Log In">
  </form>
</div>
<p>
  Email entered is : {{emailid}}
</p>

</div>  
<ul *ngFor = "let data of httpdata">
  <li>Name : {{data.name}} Address: {{data.address.city}}</li>
</ul>
<a routerLink = "new-cmp">New component</a>
</div>
<app-new-cmp></app-new-cmp>
<router-outlet></router-outlet>
